*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 2rem auto;
}

.container h1{
    text-align: center;
}

.esercizi{
    margin-top: 4rem;
}

.rectangle,
.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4{
    width: 100%;
    height: 125px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 10px 15px;
}

.rectangle4{
    padding: 0;
    position: relative;
}

.rectangle5,
.rectangle6,
.rectangle7,
.rectangle8{
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 15px 15px;
}

.rectangle8{
    position: relative;
    width: 100%;
    height: 384px;
}

.square{
    width: 100px;
    height: 100px;
}   

/* Esercizio 1 */


.rectangle .square{
    border: 1px solid red;
    background-color: #f5f5f5;
    transition: background-color 3s;
} 

.rectangle .square:hover{
    background-color: red;
}

/* Esercizio 2 */

.rectangle1 .square{
    background-color: red;
    transition: width 3s;
}

.rectangle1 .square:active{
    width: 100%;
}

/* Esercizio 3 */

.rectangle2 .square{
    background-color: red;
    transition: border-radius 0.5s;
}

.rectangle2 .square:hover{
    border-radius: 50%;
}

/* Esercicio 4 */

.rectangle3 .square{
    background-color: red;
    transition: background-color 3s;
}

.rectangle3 .square:hover{
    background-color: #f5f5f5;
}


/* Esercizio 5 */

.rectangle4 .square{
    width: 70px;
    height: 70px;
    background-color: red;
    transition: width, height, position, 2s;
    position: absolute;
    left: 30px;
    top: 30px;
}


.rectangle4 .square:hover{
    width: 115px;
    height: 115px; 
    left: 5px;
    top: 5px;
}

.rectangle4 .square:active{
    width: 40px;
    height: 40px;
    left: 42.5px;
    top: 42.5px;
}

/* Esercizio 6 */

.rectangle5 img{
    width: 30%;
}

.rectangle5 img:hover{
   filter: grayscale(100); 
}

/* Esercizio 7 */

.rectangle6 img{
    width: 30%;
    transition: filter 4s;
}

.rectangle6 img:hover{
    filter: brightness(3);
    filter: invert(1);
}

/* Esercizio 8 */

.rectangle7 img{
    width: 30%;
    transition: filter, border-radius 2s;
}

.rectangle7 img:hover{
    filter: contrast(1);
    filter: saturate(3);
    border-radius: 5%;
}

/* Esercizio 9 */

.rectangle8 img{
    width: 20%;
    height: 30%;
    transition: filter 4s;
    position: absolute;
    left: 120px;
    top: 140px;
    transition: filter, border-radius, width, height, position, 3s;
}

.rectangle8 img:hover{
    filter: hue-rotate(200);
    filter: contrast(3);
    border-radius: 5%;
    width: 30%;
    height: 350px;
    left: 15px;
    top: 15px;
}



