*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 2rem auto;
}

.container h1{
    text-align: center;
}

.esercizi{
    margin-top: 4rem;
}

.rectangle,
.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4{
    width: 100%;
    height: 125px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 10px 15px;
}

.rectangle4{
    padding: 0;
    position: relative;
}

.rectangle5,
.rectangle6,
.rectangle7,
.rectangle8{
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 15px 15px;
}

.rectangle8{
    position: relative;
    width: 100%;
    height: 384px;
}

.rectangle9,
.rectangle10,
.rectangle11,
.rectangle12{
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 25px 20px;
}

.rectangle11{
    position: relative;
}

.square{
    width: 100px;
    height: 100px;
}   

/* Esercizio 1 */


.rectangle .square{
    border: 1px solid red;
    background-color: #f5f5f5;
    transition: background-color 3s;
} 

.rectangle .square:hover{
    background-color: red;
}

/* Esercizio 2 */

.rectangle1 .square{
    background-color: red;
    transition: width 3s;
}

.rectangle1 .square:active{
    width: 100%;
}

/* Esercizio 3 */

.rectangle2 .square{
    background-color: red;
    transition: border-radius 0.5s;
}

.rectangle2 .square:hover{
    border-radius: 50%;
}

/* Esercicio 4 */

.rectangle3 .square{
    background-color: red;
    transition: background-color 3s;
}

.rectangle3 .square:hover{
    background-color: #f5f5f5;
}


/* Esercizio 5 */

.rectangle4 .square{
    width: 70px;
    height: 70px;
    background-color: red;
    transition: width, height, position, 2s;
    position: absolute;
    left: 30px;
    top: 30px;
}


.rectangle4 .square:hover{
    width: 115px;
    height: 115px; 
    left: 5px;
    top: 5px;
}

.rectangle4 .square:active{
    width: 40px;
    height: 40px;
    left: 42.5px;
    top: 42.5px;
}

/* Esercizio 6 */

.rectangle5 img{
    width: 30%;
}

.rectangle5 img:hover{
   filter: grayscale(100); 
}

/* Esercizio 7 */

.rectangle6 img{
    width: 30%;
    transition: filter 4s;
}

.rectangle6 img:hover{
    filter: brightness(3);
    filter: invert(1);
}

/* Esercizio 8 */

.rectangle7 img{
    width: 30%;
    transition: filter, border-radius 2s;
}

.rectangle7 img:hover{
    filter: contrast(1);
    filter: saturate(3);
    border-radius: 5%;
}

/* Esercizio 9 */

.rectangle8 img{
    width: 20%;
    height: 30%;
    transition: filter 4s;
    position: absolute;
    left: 120px;
    top: 140px;
    transition: filter, border-radius, width, height, position, 3s;
}

.rectangle8 img:hover{
    filter: hue-rotate(200);
    filter: contrast(3);
    border-radius: 5%;
    width: 30%;
    height: 350px;
    left: 15px;
    top: 15px;
}

/* Esercizio 10 */


.rectangle9 i{
    font-size: 50px;
    animation-name: rotate;
    animation: rotate 1.5s linear infinite ;
    animation-direction: reverse;
}

@keyframes rotate{
    0%{
       transform: rotate(0deg);
    }

    25%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* Esercizio 11 */

.rectangle10 i{
    font-size: 50px;
    animation-name: rotate2;
    /* animation: rotate 1.5s linear; */
    transform: rotate(-45deg);
   animation-name: rotate3;
}

@keyframes rotate2{
    0%{
       transform: rotate(-45deg);
    }

    33%{
        transform: rotate(90deg);
    }

    66%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(200deg);
    }
}


.rectangle10 i:hover{
    animation: rotate2 3s linear;
    animation-delay: 0.5s;
}

/* Esercizio 12 */

.rectangle11 .border{
    border: 2px solid black;
    height: 60px;
    width: 150px;
    position: relative;
}

.border p{
    text-align: center;
    line-height: 60px;
}

.first_hole{
    width: 30px;
    height: 15px;
    background-color:#f5f5f5;
    position: absolute;
    top: -5px;
    left: 20px;
    /* animation-duration: 1s; */
    animation-name: translate;
    z-index: 1;
    animation-name: rotate3;
}

.second_hole{
    width: 30px;
    height: 15px;
    background-color:#f5f5f5;
    position: absolute;
    bottom: -5px;
    right: 30px;
    /* animation-duration: 1s; */
    animation-name: translate2;
    z-index: 1;
    animation-name: rotate3;
} 



@keyframes translate{
    0%{
       top: -5px;
       left: 20px;
    }

    50%{
        top: -5px;
        left: 90px;
    }
}


@keyframes translate2{
    0%{
       bottom: -5px;
       right: 20px;
    }

    50%{
        bottom: -5px;
        right: 90px;
    }
}

.border:hover .first_hole{
    animation: translate 2s linear;  
    animation-delay: 0.5s;
}

.border:hover .second_hole{
    animation: translate2 2s linear; 
    animation-delay: 0.5s; 
}

.border p:hover{
    text-decoration: underline;
}


/* Esercizio 13 */

.rectangle12 .border2{
    border: 2px solid black;
    height: 60px;
    width: 150px;
    position: relative;
}

.border2 p{
    text-align: center;
    line-height: 60px;
}

.first_hole2{
    width: 30px;
    height: 15px;
    background-color:#f5f5f5;
    position: absolute;
    top: -5px;
    left: 20px;
    /* animation-duration: 1s; */
    animation-name: translate3;
    z-index: 1;
    animation-name: rotate3;
}

.second_hole2{
    width: 30px;
    height: 15px;
    background-color:#f5f5f5;
    position: absolute;
    bottom: -5px;
    right: 30px;
    /* animation-duration: 1s; */
    animation-name: translate4;
    z-index: 1;
    animation-name: rotate3;
} 



@keyframes translate3{
    0%{
       top: -5px;
       left: 20px;
    }

    20%{
        top: -5px;
        left: 125px;
    }

    40%{
        top: 50px;
        left: 125px;
    }

    60%{
        top: 50px;
        left: -5px;
    }

    80%{
        top: -5px;
        left: -5px;
    }

    100%{
        top: -5px;
        left: 90px;
    }
}


@keyframes translate4{
    0%{
       bottom: -5px;
       right: 20px;
    }

    20%{
        bottom: -5px;
        right: 125px;
    }

    40%{
        bottom: 50px;
        right: 125px;
    }

    60%{
        bottom: 50px;
        right: -5px;
    }

    80%{
        bottom: -5px;
        right: -5px;
    }

    100%{
        bottom: -5px;
        right: 90px;
    }
}

.border2:hover .first_hole2{
    animation: translate3 2s linear;  
    animation-delay: 0.5s;
}

.border2:hover .second_hole2{
    animation: translate4 2s linear; 
    animation-delay: 0.5s; 
}

.border2 p:hover{
    text-decoration: underline;
}


